@model IEnumerable<ProjectTeamTaskManagement.Models.Tasks>

@{
    ViewData["Title"] = "Index";
}

<style>

a{
    text-decoration:none;
}
</style>

<h1>Task Info</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover d-sm-table-row">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskDuration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskDuration)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TaskId" class="btn btn-primary">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.TaskId" class="btn btn-secondary">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.TaskId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
